[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.2.13"
django-bootstrap-form = "==3.4"
pytz = "==2019.2"
sqlparse = "==0.3.0"
reportlab = "*"
"xhtml2pdf" = "*"
xlwt = "*"


[dev-packages]

