{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col">
        <p>Primeira coluna</p>
    </div>
    <div class="col">
        <p>Olá {{ usuario.funcionario.nome }}.</p>
        <a href="{% url 'funcionarios:listar' %}">Gerenciar funcionários</a>
        <a href="{% url 'departamentos:listar' %}">Gerenciar departamentos</a>
        <a href="{% url 'horas_extras:listar' %}">Gerenciar banco de horas</a>
    </div>
    <div class="col">
        {% if usuario.funcionario.empresa %}
        <a href="{% url 'empresas:editar' usuario.funcionario.empresa.id %}">Editar empresa</a>
        {% else %}
        <a href="">Criar empresa</a>
        {% endif %}

        <a href="{% url 'logout' %}">Sair</a>
    </div>
</div>
{% endblock %}