{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit">Salvar</button>
    {% if object %}
    <a href="{% url 'horas_extras:remover' object.id %}">Remover</a>
    {% endif %}
    <button onclick="utilizarHorasExtras({{ object.id }})" type="button">Utilizar horas</button>
</form>
<p id="mensagem"></p>
<h2 id="horas_atualizadas">{{ object.funcionario.total_horas }}</h2>
{% endblock main %}

{% block static %}
{{ block.super }}
<script src="{% static 'js/funcoes.js' %}"></script>
{% endblock static %}